@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

/* Esto asegura que el texto no choque con el icono de la izquierda */
.p-input-icon-left > i {
    left: 0.75rem; /* Ajusta la posición del icono */
    z-index: 10;
}

.p-input-icon-left > input {
    padding-left: 2.5rem !important; /* Empuja el texto a la derecha */
}